$sidenav-width: 63px;

:host {
    --sidenav-width: #{$sidenav-width};

    display: block;
    height: 100vh;
}

.sidenav-container {
    height: 100%; 
}

.app-sidenav {
    width: $sidenav-width;
    background-color: black;
    float: left;
}

.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-header {
    flex: 0 0 64px;
    z-index: 1;
}

.app-main {
    margin-left: $sidenav-width;
    flex: 1;
    overflow: auto;
    padding: 16px;
}