:host {
    background-color: var(--color-neutral-white);
}

.header__title {
    color: var(--color-brand-primary-dark);
}

div.header-container {
    padding-left: var(--sidenav-width);
    header.header {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        nav > ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                list-style: none;

                a {
                    font-size: 24px;
                }
            }
        }
    }
}