@use '@angular/material' as mat;

@use 'base' as *;


$primary-palette: mat.define-palette(mat.$indigo-palette,
    500= $primary-500,
    700= $primary-700
);
$accent-palette: mat.define-palette(mat.$pink-palette,
    500= $accent-500
);
$warn-palette: mat.define-palette(mat.$red-palette,
    500= $warn-500
);

$custom-theme: mat.define-light-theme((
    color: (
        primary: $primary-palette,
        accent:  $accent-palette,
        warn:    $warn-palette,
    ),
    typography: mat.define-typography-config((
        font-family: $font-family-base,
        // é possível definir mais propriedades de tipografia aqui
        // como font-size, font-weight, etc.
    )),
));


@include mat.core();                                // reset + mixins básicos
@include mat.all-component-themes($custom-theme);   // aplica tema a todos os componentes
@include mat.typography($custom-theme);             // (opcional) classes .mat-typography
