/* You can add global styles to this file, and also import other style files */

@use './_theme-palettes.scss' as palettes;
@use './_typography.scss' as typo;
@use '@angular/material' as mat;
@use './_base-colors.scss';


@include typo.apply-typography();

h1,h2,h3,h4,h5,h6,p,div,button,
mat-button,mat-icon,mat-label {
    color: base-colors.$color-brand-primary-dark;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: typo.$font-stack; 
}

html {
    color-scheme: light dark;
    @include mat.theme((
        color: (
            primary: palettes.$primary-palette,
            tertiary:  palettes.$tertiary-palette,
        ),
        typography: (
            plain-family: typo.$font-stack,
            brand-family: typo.$font-stack,
            bold-weight:  typo.$weight-bold,
            medium-weight:  typo.$weight-medium,
            regular-weight: typo.$weight-regular,
        ),
        density: 0
    ));
}

:root {
    @include mat.form-field-overrides((
    outlined-outline-width: 0px,
    filled-container-color: base-colors.$color-neutral-white,
    filled-input-text-color: base-colors.$color-neutral-darkest,
  ));

    .mdc-text-field {
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }
}