<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
<p [innerHTML]="data.message"></p>
</mat-dialog-content>

<div mat-dialog-actions style="justify-content: end;" *ngIf="data.type==undefined">
    <button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>

<div mat-dialog-actions style="justify-content: space-between;" *ngIf="data.type=='boolean'">
    <button mat-stroked-button color="warn" mat-dialog-close>{{data.buttons ?data.buttons[0] :"Cancelar"}}</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{data.buttons ?data.buttons[1] :"Confirmar"}}</button>
</div>